// layout/_header.scss
@use '../abstracts/variables';

// TOP
.top p {
    font-family: variables.$font-secondary;
}

// NAV
.nav-link.fw-medium {
    font-family: variables.$font-secondary;
}

.nav__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.nav__icons img {
    height: 24px;
}

// BANNER
.banner-video {
    padding: 0;
    width: 100vw;
    height: 360px;
    overflow: hidden;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}