// layout/_main.scss
@use '../abstracts/variables';

main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 0;

    &__name {
        color: variables.$color-black;
        font-family: variables.$font-primary;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0;
    }

    &__price {
        color: variables.$color-black;
        font-family: variables.$font-primary;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 0;
    }

    &__button {
        background-color: variables.$color-black;
        font-family: variables.$font-secondary;
        font-size: 1rem;
        color: variables.$color-white;
        border: none;
        border-radius: 999px;
        padding-block: 0.5rem;
        padding-inline: 2rem;
        margin-bottom: 0;
    }
}