.subscription-banner {
    padding-block: 2rem;
    background-image: url("../assets/images/banner.jpg");
    background-size: cover;
    background-position: center;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    &__text {
        font-family: "Fraunces";
        font-size: 2rem;
    }
}