// base/_fonts.scss

@font-face {
  font-family: 'Fraunces';
  src: url('../assets/fonts/Fraunces/Fraunces.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-display: swap;
}